.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #ddd;
}
.filter div {
  flex: 1 150px;
}
@media (max-width:425px) {
  .filter div {
    margin-top: 10px;
  }
}