.home_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.home_main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap-reverse;
}
.home_main_products {
  flex: 3 600px;
}
.home_main_sidebar {
  flex: 1 200px;
}
.home_footer {
  height: 50px;
  background-color: rgba(221, 221, 221, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
