.home_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  background-color: rgba(238, 238, 238, 0.5);
  color: #000;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 425px) {
  .home_header {
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
  }
}
.nav_section {
  display: flex;
  align-items: center;
}

.nav_section span {
  margin-left: 1.2rem;
  font-weight: 500;
}
.login_nav{
  display: flex;
  flex-direction: column;
}
.login_nav > p {
  font-weight: 500;
}
.login_nav > small {
  font-size: 12px;
}
