.noMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.noMatch h1 {
  color: red;
  margin-bottom: 10px;
  font-size: 3rem;
}
