@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;700&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input, 
select,
button,
p
 {
  margin: 0;
  font-family: 'Montserrat', 'Open sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 425px) {
  button {
    font-size: 14px;
  }
}
a {
  text-decoration: none;
  color: #111;
}
a:hover, a:focus, a.activ, a:active {
  color: #fe055b;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 
fe055b pink
531c92 beguni 
0eb1fd blue
*/
